#contactForm {
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: black;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    color: black; /* text inside the fields will be black */
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: #888; /* you can adjust the placeholder color if needed */
}

.g-recaptcha {
    margin-bottom: 15px;
}

input[type="submit"] {
    display: inline-block;
    background-color: #333; /* dark gray */
    color: #fff; /* white text */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555; /* slightly lighter gray on hover */
}

