#contactForm {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
	letter-spacing: -0.025em;
	line-height: 1.75em;
    max-width: 350px;
    margin: 40px auto;
    /* background-color: rgba(178, 178, 178, 0.823); */
    padding: 20px;
}

#contactForm label {
    font-size: 1.6em; 
    font-weight: 900;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1.1em;
    color: #000000;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#contactForm input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: #888;
}

.g-recaptcha {
    margin-bottom: 15px;
}

#contactForm textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1.1em;
    color: #333; /* make sure this is set to a color visible against the background */
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none; /* Prevent manual resizing */
    overflow: auto; /* Allows box to scroll internally if content exceeds box size */
}

.button {
    font-size: 1.2em;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Removes underline from link */
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center; /* Center text inside the button */
    margin: 0 5px; /* Spacing between buttons */
}

.button:hover {
    background-color: #34495E;
    transform: scale(1.05);
}

input[type="submit"].button, a.button {
    -webkit-appearance: none; /* Removes default webkit styles */
    -moz-appearance: none; /* Removes default Mozilla styles */
    appearance: none; /* Removes default styles */
}

@media only screen and (max-width: 768px) {
    label {
        font-size: 1.2em; /* Smaller font size on smaller screens */
    }

    input[type="submit"] {
        padding: 8px 16px; /* Smaller padding on smaller screens */
    }
}

@media only screen and (min-width: 769px) {
    #contactForm {
        max-width: 500px; /* Larger max-width for larger screens */
    }
}